@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "coco-gothic";
    src: url('../../public/fonts/coco-gothic.bold.ttf') format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "coco-gothic";
    src: url('../../public/fonts/coco-gothic.regular.ttf') format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "coco-gothic";
    src: url('../../public/fonts/coco-gothic.ultralight.ttf') format("truetype");
    font-weight: 300;
}

body{
    font-family: "coco-gothic";
}

.hero{
    background-image: url('../../public/images/mandala-bg.svg');
    background-size: cover;
    opacity: .5;
}